/*shared styles*/
.text-primary {
    color: #272727;
    font-family: Lato;
}

.main {
    width: 1400px;
    align-items: center;
    margin: 0 auto;
}

.primary-btn {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    margin-top: 50px;
}

/*banner styles*/

.banner {
    display: flex;
    background-color: #E554731A;
}

.banner-content {
    padding-left: 240px;
    padding-top: 197px;
    padding-right: 200px;
    padding-bottom: 147px;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0px;
}



.banner-pic {
    padding-top: 50px;
}



/*featured styles*/
.featured {
    margin-top: 178px;
}


.featured-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 650px;
    padding-right: 650px;
    margin-bottom: 48px;

}


.container-featured {
    display: flex;
    gap: 24px;
    justify-content: center;

}


.featured-images {}

.f-images {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-pic {
    height: 428px;
    width: 310px;
    padding: 110px 78px 0 76px;

}

#pink {
    border-radius: 300px 300px 0px 0px;

    background: rgba(167, 33, 98, 0.15);
    border: 5px;
}

#sky {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#green {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}


/*services styles*/
.section-services {
    padding: 128px 240px;
}


.services-container {

    display: flex;
    gap: 100px;


    padding: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.services-name {

    text-align: center;

}

.services-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.services-image {
    height: 88px;
    width: 88px;
}


/*hot deals styles*/
.container-hot-deals {
    display: flex;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 429px;
    padding-bottom: 100px;
    background-color: #E554730D;
    margin-bottom: 128px;
}

.contents-hot-deals {
    margin-right: 186px;
    text-align: center;
}

.title-hot-deals {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.description-hot-deals {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}



/*instagram styles*/


.contents-instagram {
    text-align: center;
}

.title-instagram {
    font-size: 40px;
    font-weight: 800;
}

.description-instagram {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 633px;
    padding-right: 633px;
    padding-bottom: 38px;
}


.pictures-container-instagram {
    display: flex;
    justify-content: space-around;
    padding-left: 240px;
    padding-right: 240px;
}

/*reviews style*/

.reviews{
    margin-top: 150px;
}

.reviews-container{
    display: flex;
    gap: 50px;
    padding: 50px;
justify-content: center;}

.single-review{
    padding: 50px;
    width: 413px;
    height: 314px;
    border-radius: 12px;
background: #FFF;
box-shadow: 0px 20px 80px 10px rgba(60, 60, 60, 0.10);

}



.description-reviews{

    color: #696969;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.title-review{
text-align: center;
    color: #181414;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 130%;
letter-spacing: 0.8px;
}
h2{
color: #E55473;
    font-size: 22px;
font-style: normal;
font-weight: 700;
}
/*latest deals styles*/

.latest-deals-section {
    
    background-image: url("Rectangle\ 9.png");
    background-repeat: no-repeat;
    margin-left: 240px;
    margin-top: 128px;
margin-left: 240px;
}

.latest-deals{
text-align: center;
    height: 449px;
    width: 1440px;
    padding-top: 122px;
}

.title-latest-deals{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.description-latest-deals{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}


/*footer styles*/
.container-footer{
    background-color: #111010;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-left: 648px;
    padding-right: 648px;
}

.title-footer{
    text-align: center;
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 0;
}

.description-footer{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 24px;
margin-bottom: 0;
line-height: 30px;
}

.copyright-footer{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 32px;
}