/*shared styles*/
.text-primary {
    color: #272727;
    font-family: Lato;
}

.main{
    width:1400px;
    align-items: center;
    margin: 0 auto;
}
.primary-btn {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
margin-top: 50px;
}

/*banner styles*/

.banner {
    display: flex;
    background-color: #E554731A;
}

.banner-content{
    padding-left: 240px;
    padding-top: 197px;
    padding-right: 200px;
padding-bottom: 147px;
}
.banner-title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0px;
}



.banner-pic {
padding-top: 50px;    
}



/*featured styles*/
.featured{
    margin-top: 178px;
}


.featured-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 650px;
    padding-right: 650px;
    margin-bottom: 48px;

}


.container-featured {
    display: flex;
    gap: 24px;
    justify-content: center;

}


.featured-images {
}

.f-images {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-pic {
    height: 428px;
    width: 310px;
  padding: 110px 78px 0 76px;

}

#pink{
    border-radius: 300px 300px 0px 0px;

background: rgba(167, 33, 98, 0.15);
    border: 5px;
}

#sky{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
#green{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}


/*services styles*/
.section-services {
    padding: 128px;
}


.services-container {
    display: flex;
    gap: 320px;



    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.services-name {

    text-align: center;
    padding: 50px;
}

.services-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.services-image {
    height: 88px;
    width: 88px;
}


/*hot deals styles*/
.container-hot-deals {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.contents-hot-deals {
    width: 60%;
}

.hot-deals {
    background-color: #E554730D;
}

.title-hot-deals {
    font-size: 40px;
    font-weight: 800;
    padding-top: 200px;

}

.description-hot-deals {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.pic-hot-deals {
    padding-top: 100px;
}

/*instagram styles*/
.latest-deals{
    margin-top: 120px;
    background-image: url("Rectangle\ 9.png");
    background-repeat: no-repeat;
    
padding: 80px;}

.contents-instagram {
    text-align: center;
    width: 100%;
}

.pictures-container-instagram {
    display: flex;
    gap: 24px;
}

.title-instagram {
    font-size: 40px;
    font-weight: 800;
}

.description-instagram {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/*latest deals styles*/
.title-latest-deals{
text-align: center;
font-size: 40px;
font-weight: 800;
}


.description-latest-deals{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}